<nav class="d-flex flex-row justify-content-between align-items-stretch">
  <a routerLink="/home" routerLinkActive="active">
    <img id="logo" src="../assets/1.svg" alt="logo">
  </a>

  <div class="input-group col-sm-2">
    <input #searchBox type="text" class="form-control" placeholder="Search.." aria-label="Search.." aria-describedby="basic-addon2" [(ngModel)]="searchText">
  </div>
</nav>

<div class="labelContainer d-flex justify-content-end col-sm-12">
  <p class="label">Search Results</p>
  <div class="boxList">
    <div [class.active]="toggleSearch" class="matchHolder" *ngFor="let pokemon of currentPokemons | filter: searchText" [routerLink]="['/details', pokemon.id]">
      <p>{{pokemon.name}}</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>