<section class="container col-sm-12 d-flex flex-row" *ngFor="let pokemon of pokemons">
    <div class="backBtn d-flex justify-content-end col-sm-12">
        <button (click)="goHome()" class="ctaBtn offset-11 col-sm-1">Back</button>
    </div>
    <div class="containerBox">
        <div class="top-container-1">
            <h2>{{pokemon.name}}</h2>
            <div class="idPokemon">
                <p>{{pokemon.id}}</p>
            </div>
        </div>
        <div class="mid-container-1">
            <div class="circleBack">
                <img class="sprite" width="180" [src]="pokemonId.sprites.front_default">
            </div>
        </div>
        <div class="bottom-container-1 d-flex flex-row">
            <div class="typePokemon">
                <h6>Type</h6>
                <div class="typePokemon-container d-flex flex-row" >
                    <p *ngFor="let typeP of pokemonId.types"> {{typeP.type.name}}</p>
                </div>
            </div>
            <div class="charPokemon">
                <h6>Characteristic</h6>
                <div class="charPokemon-container d-flex flex-row" >
                    <p>H {{pokemonId.height}}</p>
                    <p>W {{pokemonId.weight}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="containerBox">
        <div class="divider">
            <div class="top-container-2">
                <h6>Abilities</h6>
                <div class="abilities" *ngFor="let abilities of pokemonId.abilities">
                    <p>{{abilities.ability.name}}</p>
                </div>
            </div>
            <div class="bottom-container-2">
                <h6>Stats</h6>
                <div class="stats d-flex flex-row justify-content-between" *ngFor="let statP of pokemonId.stats">
                    <p class="statsN">{{statP.stat.name}}</p>
                    <p class="statsP">{{statP.base_stat}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="containerBox">
        <div class="container-3">
            <h6>Moves</h6>
            <div class="moves" *ngFor="let move of pokemonId.moves">
                <p>{{move.move.name}}</p>
            </div>
        </div>
    </div>
</section>