<section class="container col-sm-12">
    <div class="filterComponent d-flex justify-content-end col-sm-12">
        <select class="dropDown" (change)="filterT($event.target.value)">
            <option [value]="0">All</option>
            <option *ngFor="let t of types" [value]="t.id">{{ t.name }}</option>
        </select>
    </div>
    <div class="d-flex flex-row col-sm-3" *ngFor="let pokemon of currentPokemons" [class.selected]="isSelected(pokemon)">
    <div class="card d-flex flex-row" style="width: 100%;">
        <div class="circleBack">
            <img class="sprite" [src]="pokemon.details.sprites.front_default">
        </div>
    <div class="card-body">
        <p>Pokemon</p>
        <p class="card-title">{{pokemon.name}}</p>   
    </div>
        <a href="" class="btn btn-primary" [routerLink]="['/details', pokemon.id]" (click)="onSelect(pokemon)">></a>
    </div>
    </div>
</section>